<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<div class="container my-2">
    <h1> Liste des salariés</h1>
    <a th:href="@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3">Ajouter employé</a>
    <table border="1" class="table table-hover table-responsive-md">
        <thead>
        <tr>
            <th>      <a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                Prénom</a>
            </th>
            <th>  <a th:href="@{'/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                Nom</a>
            </th>
            <th><a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                Email</a>
            </th>
            <th>
                Numéro de téléphone
            </th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="e: ${listEmployees}">
            <td th:text="${e.firstName}"></td>
            <td th:text="${e.lastName}"></td>
            <td th:text="${e.email}"></td>
            <td th:text="${e.phoneNumber}"></td>
            <td><a th:href="@{/showFormForUpdate/{id}(id=${e.id})}" class="btn btn-primary"> Modifier</a>

                <a data-toggle="modal" class="btn btn-danger" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${e.id }">Supprimer</a>
<!--                <a th:href="@{/deleteEmployee/{id}(id=${e.id})}" class="btn btn-danger"> Supprimer</a>-->

<!--                MODAL-->
                <div class="modal modal-warning fade in" th:id="modal-warning+${e.id }" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h5 class="modal-title">Supprimer une categorie</h5>
                            </div>
                            <div class="modal-body">
                                Etes vous sur de vouloir supprimer ?
                            </div>
                            <div class="modal-footer">
                                <button type="button"  class="btn btn-secondary" data-dismiss="modal">Retour</button>
                                <a type="button" class="btn btn-danger" th:href="@{/deleteEmployee/{id}(id=${e.id})}"><i class="fa fa-check"></i>&nbsp;Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
<!--                Modal-->

            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Nombre Employés : [[${totalItems}]]
            </div>
            <div class="col-sm-2">
                <span th:each="i: ${#numbers.sequence(1,totalPages)}">
                    <a th:if="${currentPage !=i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp &nbsp
                </span>
            </div>
            <div class="col-sm-2">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Page Suivante</a>
                <span th:unless="${currentPage < totalPages}">Page Suivante</span>
            </div>
            <div class="col-sm-2">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Dernière page</a>
                <span th:unless="${currentPage < totalPages}">Dernière page</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>